extends layout

block content
  .info-container
    h1.title PeerDocument

    p.sockets
      strong ShareDB:
      |  
      span#sharedb-socket-indicator.socket-indicator
      span#sharedb-socket-state.socket-state
      br
      strong Cursors:
      |  
      span#cursors-socket-indicator.socket-indicator
      span#cursors-socket-state.socket-state

    #connect-panel
      form#username-form
        | Choose your username and connect
        input#username-input(type='text')
        button#connect-btn Connect
    #users-panel
      ul#users-list
  .layout
    .editor-container
      #editor

    .discussion
      #editor
