body {
  padding: 50px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input#username-input {
  width: 100px;
  display: inline-box;
  margin: 0 10px;
}

button#connect-btn {
  display: inline-box;
}

.title {
  margin: 0 10px;
  flex-shrink: 0;
}

.info-container {
  display: flex;
  margin-bottom: 30px;
}

.sockets {
  margin: 0 10px;
  flex-shrink: 0;
}

#connect-panel {
  margin: 0 10px;
}

.layout {
  display: flex;
}

.editor-container {
  width: 80%;
}

.discussion {
  width: 20%;
  min-width: 150px;
  margin-left: 50px;
}

#users-panel {
  display: none;
}

#users-panel ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  padding: 0;
}

#users-panel ul > li {
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.socket-indicator {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 5px;
  vertical-align: baseline;
}

.socket-state {
  text-transform: capitalize;
}
